@model Realestate

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="container">
    <h3 class="m-5">
        @Model.Name
    </h3>

    <div class="row gx-5">
        <img alt="@Model.Description" src="@Model.imageurl" class="img-fluid"/>

        <div class="m-5">
            <p>@Model.Description</p>
            <p>Persons: @Model.Persons</p>
            <p>Bathrooms: @Model.Bathrooms</p>
            <h3 class="d-flex justify-content-end pe-3">@Model.Price.ToString("0 000 NOK pr / day")</h3>

            @{
                var currentLoggedinUser = await UserManager.GetUserAsync(User); // get currently logged in user
            }
            @if (!SignInManager.IsSignedIn(User)) // If user is not logged in
            {

                <a asp-controller="Realestate" asp-action="Rent" asp-route-realestateId="@Model.RealestateId" class="btn btn-success">Rent</a>
                
            }
            else if (await UserManager.IsInRoleAsync(currentLoggedinUser, "Default") && Model.UserId != currentLoggedinUser.Id) // if user is logged in, display only on real estates that this user does not own
            {
                <a asp-controller="Realestate" asp-action="Rent" asp-route-realestateId="@Model.RealestateId" class="btn btn-success">Rent</a>
            }
            else
            {
                <div> Hi, admin </div>
            }

        </div>
        

    </div>
</div>
