@model Realestate


<div>
    <div class="gridbox card border-0 gridbox box" style="height: 500px">
        <img src="@Model.imageurl" class="card-img-top padding-3" alt="@Model.Name" style="width: 100%; height: 280px; overflow:hidden">
        <div class="card-body">
            <div>
                <div class="d-flex flex-column">
                    <h5 class="card-title">
                        @Model.Name
                    </h5>
                    <a asp-controller="Realestate"
                       asp-action="Details"
                       asp-route-id="@Model.RealestateId" class="stretched-link"></a>
                    <p class="card-text">@Model.Location</p>
                    <h5 class="d-flex justify-content-end">
                        @Model.Price.ToString("N0").Replace(",", " ") NOK / day

                    </h5>

                    @if (@Model.User != null) // if there is owner --> display it
                    {
                        <p>Owner: @Model.User.FirstName</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
