@model Realestate
    

<div>
    <div class="box card border-0">
        <img src="@Model.imageurl" class="card-img-top" alt="@Model.Name" height="280">
        <div class="card-body">
            <div>
                <div class="d-flex flex-column">
                    <h5 class="card-title">
                        @Model.Name
                    </h5>
                    <a asp-controller="Realestate"
                       asp-action="Details"
                       asp-route-id="@Model.RealestateId" class="stretched-link"></a>
                    <p class="card-text">@Model.Location</p>
                    <h5 class="d-flex justify-content-end">
                        @Model.Price.ToString("0 000 NOK pr/week")
                    </h5>

                    @if (@Model.User != null) // if there is owner --> display it
                    {
                        <p>Owner: @Model.User.FirstName</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
