@model IEnumerable<Realestate>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="container-fluid">


    @foreach (var realestate in Model)
    {
        <div class="row g-5 border border-4 rounded mt-4">
            <div class="col-4 pb-5">
                <img src="@realestate.imageurl" alt="@realestate.Description" style="max-width: 280px; max-height: 280px;">
            </div>
            <div class="col-8">
                <h5 class="card-title">
                    <a asp-controller="Realestate"
                       asp-action="Details"
                       asp-route-id="@realestate.RealestateId"
                       class="text-decoration-none">@realestate.Name</a>
                </h5>
                <p>
                    @realestate.Description
                </p>
                <div class="d-flex flex-md-column align-items-end">
                    <h5>
                        @realestate.Price.ToString("0 000 NOK pr/week")
                    </h5>

                    @{
                        var currentLoggedinUser = await UserManager.GetUserAsync(User); // get currently logged in user
                    }
                    @if (SignInManager.IsSignedIn(User)) // If user is logged in
                    { 

                        @if (await UserManager.IsInRoleAsync(currentLoggedinUser, "Admin")) // if this is admin, display the two buttons
                        {
                            <div>
                                <a asp-action="UpdateRealEstate" asp-route-id="@realestate.RealestateId" class="btn btn-primary">Update</a>
                                <a asp-action="DeleteRealEstate" asp-route-id="@realestate.RealestateId" class="btn btn-danger ms-2">Delete</a>
                            </div>
                        }

                        else if (await UserManager.IsInRoleAsync(currentLoggedinUser, "Default") && realestate.UserId == currentLoggedinUser.Id)
                        { // if this is a default user, only display buttons on real estates this user owns
                            <div>
                                <a asp-action="UpdateRealEstate" asp-route-id="@realestate.RealestateId" class="btn btn-primary">Update</a>
                                <a asp-action="DeleteRealEstate" asp-route-id="@realestate.RealestateId" class="btn btn-danger ms-2">Delete</a>
                            </div>
                        }
                        else
                        {
                            <div> hihi </div>
                        }

                }
                    
                </div>
                
            </div>
        </div>

    }
    <div>
        <a class="btn btn-secondary"
           asp-controller="Realestate"
           asp-action="Create">Create New Item</a>
    </div>

</div>

