@model IEnumerable<Realestate>
<div class="container-fluid">


    @foreach (var realestate in Model)
    {
        <div class="row g-5 border border-4 rounded mt-4">
            <div class="col-4 pb-5">
                <img src="@realestate.imageurl" alt="@realestate.Description" style="max-width: 280px; max-height: 280px;">
            </div>
            <div class="col-8">
                <h5 class="card-title">
                    <a asp-controller="Realestate"
                       asp-action="Details"
                       asp-route-id="@realestate.RealestateId"
                       class="text-decoration-none">@realestate.Name</a>
                </h5>
                <p>
                    @realestate.Description
                </p>
                <div class="d-flex flex-md-column align-items-end">
                    <h5>
                        @realestate.Price.ToString("0 000 NOK pr/week")
                    </h5>
                    <div>
                        <a asp-action="Update" asp-route-id="@realestate.RealestateId" class="btn btn-primary">Update</a>
                        <a asp-action="Delete" asp-route-id="@realestate.RealestateId" class="btn btn-danger ms-2">Delete</a>
                    </div>
                </div>
                
            </div>
        </div>

    }
    <div>
        <a class="btn btn-secondary"
           asp-controller="Realestate"
           asp-action="Create">Create New Item</a>
    </div>

</div>

