@model IEnumerable<Realestate>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="container-fluid">

    <!--Display contents in table layout-->
    @foreach (var realestate in Model)
    {
        <div class="d-flex mb-5 listbox box rounded">
            <div class="p-4 ">
                <img src="@realestate.imageurl" alt="@realestate.Description" class="img rounded" style="width:250px; height: 250px; overflow:hidden">
            </div>

            <div class="d-flex flex-grow-1 flex-column p-4 divlist">
                <div>
                    <h5 class="card-title">
                        <a asp-controller="Realestate"
                           asp-action="Details"
                           asp-route-id="@realestate.RealestateId"
                           class="text-decoration-none">@realestate.Name</a>
                    </h5>



                    <!--if user exists, we display its related information-->
                    @if (realestate.User != null)
                    {
                        <div class="mb-2">
                            <img src="/img/icons/person-fill.svg" alt="Grid" width="20" height="20">

                            <span>@realestate.User.FirstName @realestate.User.LastName</span>
                        </div>
                    }

                    <div class="mb-2">
                        <img src="/img/icons/geo-alt-fill.svg" alt="Grid" width="18" height="18">
                        <span>@realestate.Location</span>
                    </div>

                    <p class="text-container" style="max-width: 700px">
                        @realestate.Description
                    </p>
                    <a asp-controller="Realestate"
                       asp-action="Details"
                       asp-route-id="@realestate.RealestateId"
                       class="text-decoration-none pt-0 "> more...</a>


                </div>
            </div>


            <div class="d-flex flex-column mt-auto p-4 mb-5 pricelist ">
                <h5>
                    @realestate.Price.ToString("N0").Replace(",", " ") NOK/day

                </h5>


                @{
                    var currentLoggedinUser = await UserManager.GetUserAsync(User); // get currently logged in user
                }

                @if (SignInManager.IsSignedIn(User)) // If user is logged in
                {

                    @if (await UserManager.IsInRoleAsync(currentLoggedinUser, "Admin")) // if this is admin, display the two buttons
                    {
                        <div>
                            <a asp-controller="Admin" asp-action="UpdateRealEstate" asp-route-id="@realestate.RealestateId" class="btn btn-outline-primary">Update</a>

                            <!-- Create delete real estate button -->
                            <!-- Button trigger modal with a unique real estate id. This modal is used from Bootstrap library -->
                            <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@realestate.RealestateId">
                                Delete
                            </a>
                        </div>
                    }

                    else if (await UserManager.IsInRoleAsync(currentLoggedinUser, "Default") && realestate.UserId == currentLoggedinUser.Id) // if this is user, and they own this property.
                    {
                        <div>
                            <a asp-controller="ApplicationUser" asp-action="UpdateRealEstate" asp-route-id="@realestate.RealestateId" class="btn btn-outline-primary">Update</a>

                            <!-- Create delete real estate button -->
                            <!-- Button trigger modal with a unique real estate id. This modal is used from Bootstrap library -->
                            <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@realestate.RealestateId">
                                Delete
                            </a>
                        </div>
                    }
                    else if (await UserManager.IsInRoleAsync(currentLoggedinUser, "Default") && realestate.UserId != currentLoggedinUser.Id) // if user is logged in, display "rent" button on real estates that this user does not own
                    {
                        <a asp-controller="Realestate" asp-action="Rent" asp-route-realestateId="@realestate.RealestateId" class="btn btn-success">Rent</a>
                    }
                }
                else if (!SignInManager.IsSignedIn(User)) // If user is not logged in, we will automatically display "rent" button
                {

                    <a asp-controller="Realestate" asp-action="Rent" asp-route-realestateId="@realestate.RealestateId" class="btn btn-success">Rent</a>

                }
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="DeleteModal-@realestate.RealestateId" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="DeleteModalLabel">DELETE</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you really want to remove property "@realestate.Name" from the system?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form asp-controller="Realestate" asp-action="DeleteConfirmed" asp-route-id="@realestate.RealestateId" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class=" d-flex justify-content-end mt-4">
        <a class="btn btn-secondary"
           asp-controller="Realestate"
           asp-action="Create">Register your place here!</a>
    </div>
</div>

