@model IEnumerable<Realestate>
<div class="container-fluid">


    @foreach (var realestate in Model)
    {
        <div class="row g-5 m-lg-auto">
            <div class="col-4">
                <img src="@realestate.imageurl" alt="@realestate.Description" style="max-width: 280px; max-height: 280px;">
            </div>
            <div class="col-8">
                <h5 class="card-title">
                    <a asp-controller="Realestate"
                       asp-action="Details"
                       asp-route-id="@realestate.RealestateId"
                       class="text-decoration-none">@realestate.Name</a>
                </h5>
                <p>
                    @realestate.Description
                </p>
                <h5 class="d-flex justify-content-end">
                    @realestate.Price.ToString("0 000 NOK pr/week")
                </h5>
                <div class="d-flex justify-content-end">
                    <a asp-action="Update" asp-route-id="@realestate.RealestateId">Update</a>
                    <a asp-action="Delete" asp-route-id="@realestate.RealestateId">Delete</a>
                </div>
            </div>
        </div>

    }
    <div>
        <a class="btn btn-secondary"
           asp-controller="Realestate"
           asp-action="Create">Create New Item</a>
    </div>

</div>

