@model IEnumerable<Property>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        @foreach (var property in Model)
        {
            <tr>
                <td>@property.PropertyId</td>
                <td>
                    <a asp-controller="Property"
                       asp-action="Details"
                       asp-route-id="@property.PropertyId">@property.Name</a>
                </td>
                <td>@property.Price.ToString("0.00 NOK")</td>
                <td>@property.Description</td>
                <td>
                    <img src="@property.imageurl" alt="Item Image" style="max-width: 80px; max-height: 80px;" />
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@property.PropertyId">Update</a>
                    <a asp-action="Delete" asp-route-id="@property.PropertyId">Delete</a>
                </td>
            </tr>
        }
    </table>
    <p>
        <a class="btn btn-secondary"
           asp-controller="Property"
           asp-action="Create">Create New Item</a>
    </p>
</div>