@model IEnumerable<Realestate>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="container-fluid pt-4">


    @foreach (var realestate in Model)
    {
        <div class="d-flex flex-wrap mt-4 listbox box">
            <div class="p-4">
                <img src="@realestate.imageurl" alt="@realestate.Description" class="img rounded" style="width: 250px; height: 250px; overflow:hidden">
            </div>
            <div class="d-flex flex-grow-1 flex-column p-4">
                <div>
                    <h5 class="card-title">
                        <a asp-controller="Realestate"
                           asp-action="Details"
                           asp-route-id="@realestate.RealestateId"
                           class="text-decoration-none">@realestate.Name</a>
                    </h5>
                   
                        @if (realestate.User != null)
                            {
                                <p>Owner: @realestate.User.FirstName @realestate.User.LastName</p>
                          }
                    
                    <p>@realestate.Location</p>
                    <p style="max-width: 700px">
                        @realestate.Description
                    </p>
                </div>

                <div class="d-flex flex-column align-items-end">
                    <h5>
                        @realestate.Price.ToString("N0").Replace(",", " ") NOK /week

                    </h5>

                    @{
                        var currentLoggedinUser = await UserManager.GetUserAsync(User); // get currently logged in user
                    }
                    @if (SignInManager.IsSignedIn(User)) // If user is logged in
                    {

                        @if (await UserManager.IsInRoleAsync(currentLoggedinUser, "Admin")) // if this is admin, display the two buttons
                        {
                            <div>
                                <a asp-action="UpdateRealEstate" asp-route-id="@realestate.RealestateId" class="btn btn-outline-primary">Update</a>

                                <!-- Create delete real estate button -->
                                <!-- Button trigger modal with a unique real estate id. This modal is used from Bootstrap library -->
                                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@realestate.RealestateId">
                                    <!--<img src="/img/icons/trash3.svg" alt="List" width="25" height="25"> -->
                                    Delete
                                </a>
                            </div>
                        }

                        else if (await UserManager.IsInRoleAsync(currentLoggedinUser, "Default") && realestate.UserId == currentLoggedinUser.Id)
                        { 
                            // if this is a default user, only display buttons on real estates this user owns
                            <div>
                                <a asp-action="UpdateRealEstate" asp-route-id="@realestate.RealestateId" class="btn btn-primary">Update</a>

                                <!-- Create delete real estate button -->
                                <!-- Button trigger modal with a unique real estate id. This modal is used from Bootstrap library -->
                                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@realestate.RealestateId">
                                    Delete
                                </a>
                            </div>
                        }

                    }

                </div>

            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="DeleteModal-@realestate.RealestateId" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="DeleteModalLabel">DELETE</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you really want to remove property "@realestate.Name" from the system?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form asp-action="DeleteConfirmed" asp-route-id="@realestate.RealestateId" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class=" d-flex justify-content-end mt-4">
        <a class="btn btn-secondary"
           asp-controller="Realestate"
           asp-action="Create">Register your place here!</a>
    </div>

</div>

